<h1>{{appName}}</h1>
<br>
<ul class="nav nav-tabs">
<li role="presentation" class="active">{{link-to 'Activities'  'activities.view' }}</li>
<li role="presentation" >{{link-to 'About'   'about' }}</li>
</ul>
<div style="margin-top:40px">
{{outlet}}
</div>
<br>
<br>